.background-white {
  background-color: #FFFFFF;
}

.logo {
  height: 20px;
}

.div {
  display: flex;
  align-items: center;
}

.nav-text {
  font-family: PT Sans;
}

.title {
  font-family: PT Sans;
  font-size: 65px;
  color: #FFFFFF;
}

.body-background {
  background-image: url("https://res.cloudinary.com/paraules/image/upload/v1492949614/blur-1853305_1280_askzlq.jpg");
}

.img-me {
  border-radius: 50%;
  max-height: 350px;
  max-width: 60%;
  display: block;
  margin: auto;
  align-items: center;
  padding: 5%;
  
}

.intro {
  font-family: PT Sans;
  max-width: 80%;
  font-size: 30px;
  color: #e7e7e7;
  display: block;
  margin: auto;
  padding: 3% 1% 10% 1%;
}

.title2 {
  padding: 3%;
  font-family: PT Sans;
  font-size: 65px;
  color: #2b2a2a;
}

.img-portfolio {
  padding: 5%;
  max-width: 100%;
}

.basic-text {
  font-family: PT Sans;
  max-width: 80%;
  font-size: 30px;
  color: #2b2a2a;
  display: block;
  margin: auto;
  padding: 3% 1% 1% 1%;
}

.final-padding {
  padding: 1% 1% 3% 1%;
}
